body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Ubuntu',"Courier New", Courier , monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(157, 61, 228, 0.6) 0% , rgba(88, 215, 249, 1) 100%);
}
button{
	cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
